k8s {
  namespace = 'medgen-ns'
  runAsUser = 1000
  computeResourceType = 'Job'
  launchDir = '/mnt/shared/MedGen/GenomePD/projects/mutTP53_expansion/src/script/cnvkit/kuba/'
  workDir = '/mnt/shared/MedGen/GenomePD/projects/mutTP53_expansion/src/script/cnvkit/kuba/nextflow_work'
  projectDir = '/mnt/shared/MedGen/GenomePD/projects/mutTP53_expansion/src/script/cnvkit/kuba/nextflow_proj'
}

executor {
  queueSize = 100
}

process {

  withName: cnvkit {
      cpus = 2
      memory = '2 GB'
      queue = 'short'
  }

   executor = 'k8s'
   cpus = 1
   memory = '2 GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

manifest {
  defaultBranch = "main"
  mainScript= "11_all_tumors_baf.nf"
}
